.DS_Store
/DSx_User_Set/*
!/DSx_User_Set/.keep

1280x800/icons/click_no_box.png
1280x800/icons/niche.png
1280x800/icons/people.png
1280x800/icons/store_button.png
1920x1200/icons/click_no_box.png
1920x1200/icons/niche.png
1920x1200/icons/people.png
1920x1200/icons/store_button.png
2560x1600/icons/click_no_box.png
2560x1600/icons/niche.png
2560x1600/icons/people.png
2560x1600/icons/store_button.png
